<!--The content below is only a placeholder and can be replaced.-->
    <pre>{{results | json}}</pre>
<article id="container">
    <section class="wrap">

          <div class="article-box">
            <div class="article-image">
                  <img src="{{results.avatar_url | json}}">



                </div><!--image-->
            <div class="article-title">
              <h2> {{results.name | json}}</h2>



                  <p>{{ItemsResponse}}</p>
            </div><!--title-->
            <div class="article-info">
                <ul>

                  <li><i class="fa fa-user"></i>/u/{{results.login | json}}</li>
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i> 6 hours ago  {{results.created_at | json}}</li>
                  <li><i class="fa fa-bolt" aria-hidden="true"></i> {{results.followers | json}}</li>
                </ul>
            </div><!--info-->
          </div>

    </section>
</article><!--container-->
