<!--The content below is only a placeholder and can be replaced.-->
<article id="container">
    <section class="wrap">
          <div class="article-box">
            <div class="article-image">
                  <img src="http://via.placeholder.com/500x350" alt="">
            </div><!--image-->
            <div class="article-title">
              <h2>Dummy Title of Article, Very Good Stuff by the way.</h2>
            </div><!--title-->
            <div class="article-info">
                <ul>
                  <li><i class="fa fa-user"></i>{{ data | json }}</li>
                  <li><i class="fa fa-user"></i> 123j</li>
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i> 6 hours ago</li>
                  <li><i class="fa fa-bolt" aria-hidden="true"></i> 292</li>
                </ul>
            </div><!--info-->
          </div>

    </section>
</article><!--container-->
